
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>ROC Roofing</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta http-equiv="Cache-Control" content="Public,Private,No-Cache,No-Store">
  <meta name="language" content="en-US">
  <meta name="defaultLanguage" content="en-US">
  <meta name="availableLanguages" content="en-US">
  <meta name="robots" content="all,index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="Slurp" content="index,follow">
  <meta name="bingbot" content="index,follow">
  <meta name="application-name" content="ROC Roofing">
  <meta name="keywords" content="ROC Roofing,Florida Roofing Contractor,Residential Roof,Commercial Roof">
  <meta name="country" content="us">
  <meta name="revisit-after" content="7 days">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta name="rating" content="General">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="ROC Roofing">
  <meta property="og:description" content="Residential and Commercial Roofing Contractor">
  <meta property="og:url" content="https://www.rocroofingfl.com">
  <meta property="og:image" content="https://www.rocroofingfl.com/images/logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="800">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="ROC Roofing">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-TileImage" content="images/favicon.png">
  <meta name="msapplication-TileColor" content="#000">
  <link rel="icon" sizes="64x64" href="images/favicon.png">
  <link rel="shortcut icon" sizes="64x64" href="images/favicon.png">
  <link rel="apple-touch-icon" sizes="64x64" href="images/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="64x64" href="images/favicon.png">


  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">
  <!-- Animation -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <!-- Colorbox -->
  <link rel="stylesheet" href="plugins/colorbox/colorbox.css">
  <!-- Template styles-->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div class="body-inner">

    <div id="top-bar" class="top-bar">
        <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-8">
                <ul class="top-info text-center text-md-left">
                    <li><i class="fas fa-map-marker-alt"></i> <p class="info-text">620 S Volusia Ave, Orange City FL</p>
                    </li>
                </ul>
              </div>
              <!--/ Top info end -->
  
              <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
                <ul class="list-unstyled">
                    <li>
                      <a title="Facebook" href="https://facebook.com/Rocroofinginc/?referrer=services_landing_page">
                          <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                      </a>
                    </li>
                </ul>
              </div>
              <!--/ Top social end -->
          </div>
          <!--/ Content row end -->
        </div>
        <!--/ Container end -->
    </div>
    <!--/ Topbar end -->